<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainactivity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/grandmother"
        android:label="@string/MSE"
        android:roundIcon="@drawable/grandmother"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dadi"></activity>
        <activity android:name=".Treatment" />
        <activity android:name=".Result" />
        <activity android:name=".Find_Disease" />
        <activity android:name=".Find_Symptoms" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Signup_Form" />
        <activity android:name=".Login_Form">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>